# Dependencies
node_modules/
package-lock.json

# Build output
out/
dist/

# VS Code specific files
*.vsix

# Environment files
.env
.env.local
.env.*

# IDE specific files
.idea/
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json